<%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main class="container mx-auto mt-8 p-8 bg-white rounded-lg shadow-md">
      <h1 class="text-3xl font-bold mb-6 text-center text-gray-800"> <%=editing ?"Edit":"Register" %> Your Home on AirBnb</h1>
      <form action="/host/<%=editing ?"edit-home":"add-home" %>" method="POST" class="max-w-md mx-auto">
        <input type="hidden" name="id" value="<%=editing ?home._id:"" %>"/>
        <input
          type="text"
          value="<%=editing ?home.housename:"" %>"
          name="housename"
          placeholder="Enter your House Name"
          class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" required
        />
        <input
          type="text"
          value="<%=editing ?home.price:"" %>"
          name="price"
          placeholder="Enter price Per Night"
          class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" required
        />
        <input
         type="text"
          value="<%=editing ?home.location:"" %>"
        name="location"
         placeholder="Enter the location"
         class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" required/>

        <input
          type="text"
           value="<%=editing ?home.photo:"" %>"
          name="photo"
          placeholder="Enter your photo url"
          class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" required
        />
         <input type="text"
       name="rating"
       class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none "
       value="<%= editing ? home.rating : '' %>"
      placeholder="Enter the Rating of Your house" required/>

        <textarea type="text"
       name="description"
       class="w-full px-4 py-2 mb-4 border rounded-md focus:outline-none "

      placeholder=" Describe  Your home" required><%= editing ? home.description : '' %></textarea>

        <input type="submit" value="<%=editing ?"Update Home":"Add Home" %>" class="w-full bg-red-500 text-white py-2 rounded-md hover:bg-red-600 transition duration-300" />
      </form>
    </main>
  </body>
</html>